body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/blok1.png'); 
    background-size: cover;
    background-position: center;
}

.container {
    margin: 50px auto; /* Отступ сверху 50px, автоматический отступ по горизонтали */
    max-width: 800px; /* Ширина контейнера */
    width: 80%; /* Пример: Ширина контейнера 80% от ширины экрана */

    background-color:white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container h1 {
    color: #23a321;
    text-align: center; 
    font-weight: 700;
    font-size: 30px;
}

.container h2 {
    text-align: justify; /* Выравниваем текст по ширине */
    color: #23a321;
    font-size: 20px;
}

.container p {
    text-align: justify;
}

.container li {
    text-align: left;
}

.btn {
    display: block; /* Делаем кнопку блочным элементом */
    background-color: #23a321;
    color: white;
    border: none;
    padding: 13px 34px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Montserrat";
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px; /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
}

.btn-primary {
    background-color: #23a321;
}
